$primary-red:#e7c2c2;

html,
body,
#root {
    font: 1rem sans-serif;
    background: #0a1f44;
    color: #1e2432;
    height: 100%;
    margin: 0;
}

.main-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)), url(../images/bg.jpeg);
    background-size: cover;
    background-position: center;
    // background-color: #000;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.styled-table {
    border-collapse: collapse;
    // font-size: 1.2em;
    font-family: sans-serif;
    // min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead {
        tr {
            background-color: #009879;
            color: #ffffff;
            text-align: center;
        }

        th {
            padding: 2vh 15px;
        }

        #date-hijri {
            font-size: 1.2rem;
        }

        #date-english {
            font-size: 0.8rem;
        }
    }



    tbody {
        tr {
            border-bottom: 1px solid #dddddd;
            background-color: #f3f3f3;
            font-size: 1rem;
        }

        // tr:nth-of-type(even) {
        //     background-color: #f3f3f3;
        // }

        td {
            padding: 1vh 15px;
        }

        tr:last-of-type {
            border-bottom: 2px solid #009879;
            border-top: 2px solid #009879;
            text-align: left;
            font-size: 0.7rem;
        }



        #sunrise-forbidden-tr,
        #noon-forbidden-tr,
        #sunset-forbidden-tr {
            background-color: $primary-red;
        }


        tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    }
}

#feedback {
    background-color: #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
}

#mybutton {
    position: fixed;
    bottom: -4px;
    right: 10px;
}

@media screen {
    .styled-table {
        // padding: 20px 7.5vw;
        max-height: 90vh;
        // width: 85%;
        max-width: 85vw;
        overflow: auto;
        box-sizing: border-box;
        display: block;

        thead {

            tr {
                padding: 1.2vh 15px;
            }
        }

        tbody {
            tr {
                font-size: 00.9rem;
            }

            td {
                padding: 0.7vh 15px;

            }
        }
    }
}

@media screen and (min-height: 800px) {

    //samsung a30
    .styled-table {
        // padding: 20px 7.5vw;
        max-height: 90vh;
        // width: 85%;
        max-width: 85vw;

        thead {

            th {
                padding: 1.8vh 15px;
                // color: #0a1f44;
            }
        }

        tbody {
            tr {
                font-size: 0.9rem;
            }

            td {
                padding: 0.8vh 15px;
            }
        }
    }
}